{{#let (component "some-addon@some-component") as |SomeComponent|}}<SomeComponent attribute=value />{{/let}}

{{if (isHelper "some-addon@some-curly" (helper "some-addon@some-curly" "foo" ((resolve "bar" type="helper") "baz"))) (component "some-addon@some-curly" "foo" ((resolve "bar" type="helper") "baz"))}}

{{#if (helper "some-addon@some-helper" args)}}
  content1
{{/if}}

<div {{modifier "some-addon@some-modifier" args}}>content2</div>

{{#let (component "foo") as |Foo|}}<Foo />{{/let}}
{{#if ((resolve "baz" type="helper") whatever)}}content3{{/if}}
{{#let (resolve "bar" type="helper") (resolve "bar" type="component") as |barHelper barComponent|}}{{if barHelper barHelper barComponent}}{{/let}}
<div {{(resolve "wat" type="modifier")}}></div>
